.defaultBtn{
    border: 2px solid wheat;
    background-color: whitesmoke;
    font-weight: 800;
    box-sizing: border-box;
    padding: 5px;
    color: black;
    border-radius: 5px;
    cursor: pointer;

    transition: .3s;
}

.defaultBtn:hover{
    background-color: #9c9c9c;

}
.defaultBtn:active{
    border-color: #2e592e;
}